.result {
  height: 90px;
  background-color: rgb(12, 10, 10);
  color: rgb(155, 230, 17);
  width: 100%;
}

.result p {
  font-size: 40px;
  margin: 5px;

}

.calculator-body {
  max-width: 1000px;
  margin: auto;
}

.button {
  display: block;
  background-color: rgb(189, 149, 20);
}

button {
  width: 25%;
  height: 80px;
  font-size: 30px;
  background-color: rgb(236, 166, 86);
}
button:hover{
  background-color: rgb(199, 46, 19);
}